<h2>Here are posts</h2>

<% @posts.each do |post| %>
<div class="post">
	<p><%= link_to @post.retailer, retailer_path(@retailer) %></p>
	<p><%= @post.season %></p>
	<p><%= @post.deadline %></p>
</div>
<% end %>

<h3><%= link_to 'New Post', new_retailer_post_path %></p>