@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);

body {
	background:white;
	color:black;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0px;
}

a {
	color:#A4A4A4;
	text-decoration:none;
}

a:hover {
	color:black;
}

.header {
	background:url(clothes.jpg) no-repeat top center;
	background-size:100%;
	text-align:center;
	width:100%;
	height:180px;
}

.header h1 {
	margin:0px;
	font-size:60pt;
	padding-top:20px;
	font-family: 'Fugaz One', cursive;
}

.header h1 a {
	color:white;
}

.content {
	background:white;
	position:relative;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	min-height:400px;
}

.retail_nav, .nonprofit_nav, .retail_list, .nonprofit_list {
	position:relative;
	width:48%;
	display:inline-block;
	padding:5px;
}

.retail_list, .nonprofit_list {
	text-align:center;
}

.nav {
	background:white;
	border-bottom:3px solid black;
	padding:10px;
	height:20px;
	font-size:14pt;
	font-weight:bold;
	text-transform:uppercase;
}

.navlink_lo {
	display:inline-block;
	width:49%;
	text-align:center;
}

.navlink_li {
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}

.nav a {
	color:black;
}

.nav a:hover {
	color:#A4A4A4;
}

.postrow {
	width:100%;
}

.post {
	background:white;
	border:1px solid black;
	display:inline-block;
	margin:5px;
	padding:10px;
	width:46%;
}

.button {
	display:inline-block;
	border:1px solid black;
	padding:5px;
	margin-bottom:5px;
}

.button a {
	color:black;
}

.button:hover {
	background:black;
}

.button:hover a, .button:hover input[type="submit"] {
	color:white;
}

.form {
	text-align:center;
}

.formlabel {
	padding-top:15px;
	padding-bottom:5px;
}

.formfield input, textarea {
	width:200px;
}

.required {
	color:red;
}

.small {
	font-size:12px;
}

.actions {
	margin-top:30px;
	margin-bottom:30px;
}

input[type="submit"] {
	background:transparent;
	border:none;
	font-size:14pt;
	font-family: 'Roboto Condensed', sans-serif;
}

.footer {
	clear:both;
	width:100%;
	text-align:center;
	font-size:10pt;
	margin-top:30px;
	margin-bottom:30px;
}